.center{
  text-align: center;
}
.footer{
  position: absolute;
  z-index: 0;
  top: 86vh;
  left: 20vw;;
  right: auto;
  width: 25vw;
}
h1{
  font-family: 'Courier New', monospace;
  font-size: 12pt;
  color: white;
  opacity: 25%;
  background-color:  grey;
  width: auto;
}
.App {
  text-align: center;
}
.imageDiv{
  width: 100vw;
  height: 100vh;
}
.controls{
  z-index: 5;
  text-align: center;
  position: fixed;
  top: 2vh;
  width: 100vw;
}
.imgIndex{
  position: absolute;
  z-index:4;
  top: 0vh;
  left: auto;
  right: auto;
}
.overImgIndex{
  position: absolute;
  z-index:4;
  top: 0vh;
  left: auto;
  right: auto;
  animation:brightness 7s ease-in-out infinite alternate;
}
.button{
  font-family: 'Courier New', monospace;
  font-size: 12pt;
    height: auto;
  width: auto;
  padding: 0;
  background-color: #ff000080;
  color: black;
  border-radius: 3px;
  border-color: #e8000003;
}
.bgtext{
  z-index: 2;
  line-height: 60%;
  font-family: 'Courier New', monospace;
  font-weight: bold;
  width: 99vw;
  font-size: 12;
  height: auto;
  position: fixed;
  top: 33vh;
  left: 1vw;
  color: grey;
  opacity: 20%;
  -webkit-transform: scale(3, 7);
-moz-transform: scale(3, 7);
-o-transform: scale(3, 7);
transform: scale(3, 7);
letter-spacing: -3px;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
#TitleLogo{
  z-index: 5;
  position: fixed;
  top: 3vh;
  left: 4vw;
  right: auto;
 height:10vh;
  width: auto;
  transition: 0.3s ;
  background-color: #ff00004d;
  border-radius: 50%;
mix-blend-mode:  difference;
animation:brightness 0.7s ease-in-out infinite alternate;

}
@keyframes brightness {
  0% {
    opacity: 80;
    filter: brightness(100%);
    filter: hue-rotate(0deg);

  }
  100% {
opacity: 90;
filter: brightness(155%);
filter: hue-rotate(359deg);

  }
}
