.App {
  text-align: center;
}
.imageDiv{
  width: 100vw;
  height: 100vh;
}
.controls{
  z-index: 5;
  text-align: center;
  position: fixed;
  top: 2vh;
  width: 100vw;
}
.imgIndex{
  z-index:1;
  top: 0vh;
  left: auto;
  right: auto;
}
.button{
  font-family: 'Courier New', monospace;
    height: auto;
  width: auto;
  padding: 0;
  background-color: #ff000080;
  color: black;
  border-radius: 3px;
  border-color: #e8000003;
}
#TitleLogo{
  z-index: 5;
  position: fixed;
  top: 4vh;
  left: 4vw;
  right: auto;
 height:10vh;
  width: auto;
  transition: 0.3s ;
  background-color: #ff00004d;
  border-radius: 50%;
mix-blend-mode:  difference;
animation:brightness 0.7s ease-in-out infinite alternate;

}
@keyframes brightness {
  0% {
    opacity: 80;
    filter: brightness(100%);
    filter: hue-rotate(0deg);

  }
  100% {
opacity: 90;
filter: brightness(155%);
filter: hue-rotate(245deg);

  }
}
